body {
text-align: center;
color: white;
background-color: black;
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

table {
width: 100%;
}

.credits td {
text-align: right;
}

a {
color: white;
}

#Avatar {
	position: fixed;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
#.Scream {}
#.Speak {}
#.Silence {}

input[type="range"] {
	width: 20%;
}

#VolumeBar {
	width: 100%;
	height: 30px;
	background: linear-gradient(to right, #00900066 0%, #00600066 70%, #fffd0066 85%, #ff000066 95%);
	border-radius: 5px;
	overflow: hidden;
}
#VolumeLevel {
	height: 100%;
	width: 0;
	background-color: #11111170;
	border-radius: 5px;

}
#ThresholdLine {
	position: absolute;
	top: 0;
	left: 50%;
	height: 32px;
	width: 4px;
	background-color: white;
}
#ThresholdLineScream {
	position: absolute;
	top: 0;
	left: 50%;
	height: 32px;
	width: 4px;
	background-color: red;
}

#togglemenu {
	display: none;
}

#togglemenu ~ label {
	position: fixed;
	top: 10px;
	left: 10px;
	background: transparent;
	height: 100%;
	width: 100%;
	padding: 16px;
	display: block;
}
#togglemenu:checked ~ label ~ .SettingsWindow { 
	opacity: 0;
	height: 0;
	display: none;
}

#togglecenter:checked ~ .ifnotcenter { 
	display: none;
	height: 0;
}

#showbg:checked ~ .ifshowbg { 
	display: flex;
}

.ifshowbg { 
	display: none;
}

.SettingsWindow {
	position: fixed;
	text-align: left;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 90%;
	background-color: #11111160;
	border-radius: 16px;
	max-height: 90%;
	overflow-y: auto;
}

.LinkToConfig h6 {
	word-wrap: break-word;
}

/*
Effect Section
*/

.bounce {
	animation: bounce 0.4s;
}
.shake {
	animation: bounce 0.2s;
}
@keyframes bounce {
	10%  { transform: translate(-50%, -50%) translateY(0%); }
	30%  { transform:translate(-50%, -50%) translateY(-5%); }
	50%  { transform: translate(-50%, -50%) translateY(0%); }
	65%  { transform: translate(-50%, -50%) translateY(-5%); }
	77%  { transform:translate(-50%, -50%) translateY(0%); }
	99%  { transform: translate(-50%, -50%) translateY(-3%); }
	100% { transform:translate(-50%, -50%) translateY(0%); }
}

.gelatine {
	animation: gelatine 0.5s 0.5;
}
@keyframes gelatine {
	from, to { transform: translate(-50%, -50%) scale(1, 1); }
	25% { transform: translate(-50%, -50%) scale(0.9, 1.1); }
	50% { transform: translate(-50%, -50%) scale(1.1, 0.9); }
	75% { transform: translate(-50%, -50%) scale(0.95, 1.05); }
}

.pulse {
	animation: pulse 0.2s 1 ;
}
@keyframes pulse {
	from, to { transform: translate(-50%, -50%) scale(1, 1); }
	50% { transform: translate(-50%, -50%) scale(1.2, 1.2); }
	75% { transform: translate(-50%, -50%) scale(1.2, 1.2); }
}

.swing {
	transform-origin: bottom center;
	animation: swing 0.5s;
}
.swingtop {
	transform-origin: top center;
	animation: swing 0.5s;
}
@keyframes swing {
	20% { transform: translate(-50%, -50%) rotate(10deg); }
	40% { transform: translate(-50%, -50%) rotate(-10deg); }
	60% { transform: translate(-50%, -50%) rotate(5deg); }
	80% { transform: translate(-50%, -50%) rotate(-5deg); }
	100% { transform: translate(-50%, -50%) rotate(0deg); }
}

#Avatar.Silence.bright {
/*
	--brightness-input: 1.5;
	--brightness-output: 1;
	animation: dim 0.5s forwards;
*/
	filter: brightness(1);
}
#Avatar.Speak.bright {
/*
	--brightness-input: 1;
	--brightness-output: 1.5;
	animation: dim 0.5s forwards;
*/
	filter: brightness(1.5);
}
#Avatar.Speak.bright0 {
	filter: brightness(1.5);
}
#Avatar.Scream.bright {
	filter: brightness(1.5);
}
#Avatar.Silence.dim {
/*
	--brightness-input: 1;
	--brightness-output: 0.5;
	animation: dim 0.5s forwards;
*/
	filter: brightness(0.5);
}
#Avatar.Speak.dim {
/*
	--brightness-input: 0.5;
	--brightness-output: 1;
	animation: dim 0.5s forwards;
*/
	filter: brightness(1);
}
@keyframes dim {
	from {
		filter: brightness(brightness(var(--brightness-input)));
	}
	to {
		filter: brightness(var(--brightness-output));
	}
}